html {
    height: 100%;
    width: 100%;
    z-index: -3
}
body {
    position:relative;
    margin: 0;
    padding: 0;
    animation: fadein 1s; /* face Animation */
    background-color: rgb(219, 219, 219);
    height: 100%;
    width: 100%;
}

nav {
    background-color: rgb(188, 188, 188);
    top: 0;
    width: 100%;
    height: 9.8em;
    min-height: 157px;
    box-shadow: 0px 2px 9px 0px rgba(50, 50, 50, 0.6);
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-shadow: 0px 1px 1px #4d4d4d;
    position: relative;
}

nav img {
    padding: 5px 0 0 80px;
    position: absolute;
}
nav ul {
    text-align: right;
}
nav ul li {
    display: inline-block;

}
form{
    margin:0;
    float: right;
    margin: 75px 100px 0 20px;'
    background-color: red;
}
a {
    text-decoration: none;
}
input[type=text]{
    color:purple;
    outline: none
}
.search { 
    padding:8px 60px 8px 5px;
    background-color: #DCDCDC;
}
.rounded { 
    border-radius:15px; 
    border: transparent 2px solid;
}
#nav {
    bottom: 0;
    margin: 0px 0 0 0;
    padding: 0;
    font-size: 2em;
}
#nav ul {
    float: right;
    min-width: 1500px;
    width: 1500px;

}
#nav li {
    padding: 10px 0px 10px 0px;
    margin: 55px 60px 0 0; 
    color: #848484;
    transition: color 0.5s cubic-bezier(0, 0, 0.2, 1),text-shadow .3s;

}
#nav li:hover {
    transition: color 0.5s cubic-bezier(0, 0, 0.2, 1),text-shadow .3s;
    text-shadow: ;
    text-shadow: 0px 1px 1px #064950;
    color: #0B737D;
}
#login {
    right: 0;
    margin: 0 0 0 0;
    font-size: 20px;
}
#login ul {
    margin: 0 5px 0 0;
}
#login li {
    font-size: 15px;
    border-top: 0px ;
    margin: 0 10px 0 0;
    color: rgba(0,0,0,0.6);
    text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
}
#border {
    border-right: 1px black solid;
    padding-right: 10px ;
}
.wrapper {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
.content {
    height: 75em;
    min-height: 1200px;
    padding-bottom: 4.1em;
}
.content p ,h1 {
    text-align: center;
    font-size: 2em;
    font-style: italic;
}
.footer {
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    background-color: rgb(188, 188, 188);
    border-top:6px solid #DCDCDC;
}
.footer p {
    display: inline-block;
    line-height: 0px;
    padding-right: ;
    font-family: 'Raleway', sans-serif;
    padding-left:5px ;
}
.footer img {
    margin-top: 5px ;;
}
#trademark{
    float: right;
    margin:0px 20px 0 0 ;
    line-height: 60px;
}
#call {
    padding: 0 10px 0 10px ;
}
@keyframes fadein {
    from { opacity:0;}
    to   { opacity:1;}
}
 /*


Here the products css starts!


 */
 .container {
 	min-width: 100%; /* Setting max width to fix resizing */
    position: absolute;
 }
.product {
	position: relative;
    height: 21em;
    width: 17em;
	background-color: white;
	margin: 10em auto auto 7em;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.51);
	display: inline-block;
	max-width: 17em;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    text-shadow: 0px 1px 1px #4d4d4d;
}
.image {
	width: 100%;
	height: 50%;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.51);
}
.image img {
    height: 100%;
    width: 100%;
}
.purchasebutton {
	margin: 0 auto 0 auto;
	height: 10%;
	width: 50%;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	cursor:pointer;
	color:#777777;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	transition: * 2s;
}
.purchasebutton:hover { /* Hover effect */
	background-color:#dfdfdf;
}

.purchasebutton p {
	margin: 0;
}
.newclass { /* Purchasebutton class change */
	margin: 0 auto 0 auto;
	height: 10%;
	width: 50%;
	box-shadow:inset 0px 1px 0px 0px #3dc21b;
	background-color:#44c767;
	border-radius:6px;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	transition: * 2s;
}
.newclass p {
	margin: 0;
}