body {

}
.header {
	width: 99%;
	background-color: red;
    position:relative; 
    top: 0;
    left: 0.5%;
    border-bottom: 2px solid black;
    font-size: 30px;
    padding: 0 0 0% 0;
    margin: 0 0 0 0;
    line-height: 100px;

}
header {
}
.nav ul {
    margin: 0% 0 0% 0;
    top:0;
    position: relative;
}
.nav li {
    display: inline-block;
    padding: 0px 160px 0px 160px;
    clear: both;
    position: relative;
}
#login {
    right: 0;
    padding: 0 0 0 0;
    line-height: 2px ;
    font-size: 20px;
    position: absolute;
}
#login ul {

}
#login li {
    padding: 0 5px 0 5px;
    font-size: 15px;
    line-height: 30px;
    border:2px black solid;
    border-top: 0px ;
}